* {
    box-sizing: border-box
}


/* style the container */

.container {
    position: absolute;
    left: 30%;
    top: 15%;
    width: 500px;
    border-radius: 5px;
    background-color: #666;
    padding: 20px 0 30px 0;
}


/* style inputs and link buttons */

input,
.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    /* remove underline from anchors */
}

input:hover,
.btn:hover {
    opacity: 1;
}


/* add appropriate colors to fb, twitter and google buttons */

.fb {
    background-color: #3B5998;
    color: white;
}

.twitter {
    background-color: #55ACEE;
    color: white;
}

.google {
    background-color: #dd4b39;
    color: white;
}


/* style the submit button */

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


/* Two-column layout */

.col {
    float: left;
    width: 5%;
    margin: auto;
    padding: 10 15px;
    margin-top: 25px 16px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* vertical line */

.vl {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    /* border: 2px solid #ddd; */
    /* height: 375px; */
}


/* text inside the vertical line */

.inner {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 8px 10px;
}


/* hide some text on medium and large screens */

.hide-md-lg {
    display: none;
}


/* bottom container */

.bottom-container {
    position: absolute;
    top: 50.5%;
    left: 40%;
    text-align: center;
    background-color: rgba(8, 184, 8, 0.767);
    border-radius: 0px 0px 4px 4px;
    width: 250px;
    height: 60px;
}


/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 650px) {
    .col {
        width: 100%;
        margin-top: 0;
    }
    /* hide the vertical line */
    .vl {
        display: none;
    }
    /* show the hidden text on small screens */
    .hide-md-lg {
        display: block;
        text-align: center;
    }
}

a.btn {
    padding: 3px;
}