<div class="back">

    <div class="container">
        <form #loginForm="ngForm" class="form-group" action="/action_page.php">
            <div class="row">
                <div class="vl">
                    <span class="vl-innertext">or</span>
                </div>

                <div class="col">
                    <a href="https://www.facebook.com" class="fb btn">
                        <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                    </a>
                    <a href="https://www.twitter.com" class="twitter btn">
                        <i class="fa fa-twitter fa-fw"></i> Login with Twitter
                    </a>
                    <a href="https://aboutme.google.com" class="google btn">
                        <i class="fa fa-google fa-fw"></i> Login with Google+
                    </a>
                </div>

                <div class="col">
                    <div class="hide-md-lg">
                        <p>Or sign in manually:</p>
                    </div>

                    <input type="text" name="username" [(ngModel)]="user.username" placeholder="Username" #username="ngModel" required>
                    <input type="password" name="password" placeholder="Password" [(ngModel)]="user.password" #password="ngModel" required>
                    <!-- [] this is used in event binding -->
                    <!-- () this is used for propert binding. Property binding is a method and must be defined on ts file. -->
                    <!-- <input  type="submit" value="Login"> -->
                    <button (click)="clicked()" [disabled]="loginForm.invalid" class="btn btn-primary">login</button>
                </div>

            </div>
        </form>
    </div>

    <div class="bottom-container">
        <div class="row">
            <div class="col">
                <a href="#" style="color:white " [routerLink]='["/register"]' class="btn">Sign up</a>
            </div>
            <div class="col">
                <a href="#" style="color:white" [routerLink]='["/forgot-password"]' class="btn">Forgot password?</a>
            </div>
        </div>
    </div>
</div>