<div class="container">
    <form #registerForm="ngForm" class="form-group">
        <div>
            <label for="firstName">First Name</label>
            <input class="form-control" type="text" [(ngModel)]="user.firstName" placeholder="firstName" name="firstName" required>
        </div>
        <div>
            <label for="lastName">Last Name</label>
            <input class="form-control" type="text" [(ngModel)]="user.lastName" placeholder="lastName" name="lastName" required>
        </div>
        <div>
            <label for="phoneNumber">Phone Number</label>
            <input class="form-control" type="text" [(ngModel)]="user.phoneNumber" placeholder="phoneNumber" name="phoneNumber" required>
        </div>
        <div>
            <label for="username">Username</label>
            <input class="form-control" type="text" [(ngModel)]="user.username" placeholder="Username" name="Username" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input class="form-control" type="text" [(ngModel)]="user.password" placeholder="Password" name="Password" required>
        </div>
        <div>
            <label for="email">email</label>
            <input class="form-control" type="text" [(ngModel)]="email" placeholder="email" name="email" required>
        </div>
        <button class="btn btn-primary" (click)="submit()">  Submit</button>
        <p>
            Already have an account. then
            <a [routerLink]='["/login"]'>click here!</a>
        </p>
    </form>

</div>